<form nz-form [nzLayout]="'inline'" [formGroup]="resetForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your new password!">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input placeholder="New Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please confirm your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input type="confirmPassword" placeholder="Confirm Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
