<nz-table #basicTable [nzData]="dataList">
  <thead>
  <tr>
    <th *ngFor="let column of colConfig">{{column?.columnName}}</th>
  </tr>
  </thead>
  <tbody>
  <tr style="overflow: auto; resize: both" *ngFor="let data of dataList; let i = index">
      <td *ngFor="let col of colConfig">
        <ng-container *ngIf="col.templateRef">
        <ng-container *ngTemplateOutlet="col.templateRef;context: {item: data[col?.columnPropertyFieldName!], index: i }"></ng-container>
        </ng-container>
        <p *ngIf="!col.templateRef">{{data[col?.columnPropertyFieldName!]}}</p>
      </td>
  </tr>
  </tbody>
</nz-table>
